:root {
  background-color: #fff8f2;
  color: #ffa620;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.navBar{
  margin-top: .5rem;
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.navBar-list li{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 900;
  font-size: 1.5rem;
}
.navBar-list li:hover{
  transform: scale(1.5);
  transition: all 500ms ease-in-out;
}

.header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3.5rem;
  margin-bottom: 5rem;
}
.header-img{
  display: flex;
  justify-content: center;
}
.img-perfil{
  border-radius: 1rem;
  height: 20rem;
}
.header-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.header-content h2{
  font-size: 3rem
}
.curriculum{
  color: #ffd79a;
}
.curriculum:hover{
  color: #ffa620;
}
.header-list{
  display: flex;
  justify-content: center;
}
.header-list li{
  padding: 1rem;
}
.header-list-li a{
  color: #ffd79a;
  width: 2rem;
}
.header-list-li a:hover{
  color: #ffa620;
}

#aboutMe{
  background-color: rgb(63, 88, 80);
  padding: 1rem;
  border-radius: 1rem;
  border: solid .1rem #ff0000;
  text-align: center;
}
.skill-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.skill-container ul{
  border: solid .1rem red;
  border-radius: 1rem;
  color: red;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.skill-container ul li{
  padding: .5rem;
}
.skill-img{
  height: 3rem;
  width: 3rem;
  opacity: .9;
}

#proyects{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.proyects-title{
  text-align: center;
}
.proyect-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid .1rem red;
  width: 15rem;
  margin: 2.5rem;
  padding: 1rem;
}
.proyect-card h3{
  text-align: center;
}
.img-project{
  margin: auto;
  height: 10rem;
  width: 10rem;
  border: solid .1rem red;
  object-fit: contain;
}
.proyect-card a{
  margin: .5rem;
}
.proyect-links{
  display: flex;
  justify-content: center;
}

ul{
  padding-inline-start: 0;
}

li{
  list-style: none;
}
.link{
  text-decoration: none;
  outline: none;
  color: #474747;
}


a:link {text-decoration: none;
}

a:visited {text-decoration: none;
}

a:focus {text-decoration: none;
}

a:hover {text-decoration: none;
}

a:active {text-decoration: none;
}




.footer{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.love{
  color: #ff0000;
}